name: Coverage

on:
  push:
    branches:
      - main
      - dev
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - main
      - dev
  workflow_dispatch:

jobs:
  coverage:
    runs-on: ubuntu-latest

    env:
      NODE_VERSION: '14'

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v2.4.0
        with:
          node-version: ${{ matrix.node }}

      - name: Cache pnpm modules
        uses: actions/cache@v2
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-

      - name: Install dependencies
        uses: pnpm/action-setup@v2.1.0
        with:
          version: 6.0.2
          run_install: true

      - name: Test coverage
        run: pnpm test:coverage

      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
