name: Pages

on:
  # 每当 push 到 master 分支时触发部署
  push:
    branches:
      - main
      - dev
    paths-ignore:
      - '**/__tests__/**'
    tags:
      - v*
  # 手动触发部署
  workflow_dispatch:

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          # “最近更新时间” 等 git 日志相关信息，需要拉取全部提交记录
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v2.3.0
        with:
          # 选择要使用的 node 版本
          node-version: '14'

      - name: Cache pnpm modules
        uses: actions/cache@v2
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-

      - name: Install dependencies
        uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.0.2
          run_install: true

      # 运行构建脚本
      - name: Build VitePress site
        run: pnpm build

      - name: Deploy to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v2.2.0
        with:
          repo: Umajs/umajs.github.io
          target_branch: main
          build_dir: dist
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
